<% provide(:title, "Музыка") %>

<% if @tracks.first %>
	<div class="a">
		<%= link_to "Новинки", news_music_index_path %> (от <%= @tracks.first.created_at.strftime("%d.%m.%y") %>)
	</div>
<% end %>
<!-- Жанры для подборок -->
<% if @collections.any? %>
	<div class="a">
		<% @collections.each do |collection| %>
			<%= image_tag collection.image.mini.url %>
			<%= link_to collection.name.mb_chars.capitalize, collection_path(collection.permalink) %>
			<span class="small-text">
				<%= collection.tracks.count %>
			</span>
			<br />
		<% end %>
	</div>
<% end %>