<% keywords "скачать музыку на андроид" %>
<% description "скачать бесплатно музыку на андроид без регистрации" %>
<h1 class="title" style="font-size: 15px;"><%= title "Cкачать музыку на телефон" %></h1>

<% if @tracks.first %>
	<div class="a">
		<%= link_to "Новинки", news_music_index_path %> (от <%= @tracks.first.created_at.strftime("%d.%m.%y") %>) <br />
		<%= link_to "Поиск музыки", "http://mp3.waprik.ru" %>
	</div>
<% end %>
<!-- Жанры для подборок -->
<% if @collections.any? %>
	<div class="a">
		<% @collections.each do |collection| %>
			<%= image_tag collection.image.mini.url %>
			<%= link_to collection.name.mb_chars.capitalize, collection_path(collection.permalink) %>
			<span class="small-text">
				<%= collection.tracks.count %>
			</span>
			<br />
		<% end %>
	</div>
<% end %>