<% keywords @track.name.mb_chars.capitalize + " скачать бесплатно на телефон" %>
<% description @track.name.mb_chars.capitalize + " скачать бесплатно" %>
<h1 class="title"><%= title @track.name + " скачать" %></h1>

<div class="a">
	<% if @track.new_path %>
	<%= link_to "Оригинал #{number_to_human_size(@track.new_path.size)}", download_music_path(@track.permalink, bitrate: "orig") %> <br />
	<% end %>

	<% if @track.bitrates.any? %>
			<% @track.bitrates.each do |bitrate| %>
				<%= link_to "Скачать #{bitrate.file_bitrate} #{number_to_human_size(bitrate.file_size)}", download_music_path(@track.permalink, bitrate: bitrate.file_bitrate), id: 'download-mp3' %> <br />
			<% end %>
	<% end %>
</div>

<div class="a">
	Время <%= @track.length %> <hr />
	Скачиваний <%= @track.download %>
	<!-- LIKES -->
	<!-- music like image + button -->
	<!-- # LIKES -->
	<!-- плейлисты -->
	<% if @track.collections.any? %>
		<hr />
			Плейлисты
			<% @track.collections.each do |collection| %>
				<%= link_to collection.name, collection_path(collection.permalink) %>
			<% end %>
	<% end %>

</div>

<% if @recomendations.any? %>
	<div class="title">
		Рекомедации
	</div>
	<div class="a">
		<% @recomendations.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %> <br />
		<% end %>
	</div>
<% end %>

<% album = Struct.new(:title, :url) %>
<% artist = Struct.new(:title, :url) %>
<% @footer_links = [] %>
<% @footer_links << album.new(@track.album.name.mb_chars.capitalize, album_path(@track.album)) if @track.album %>
<% @footer_links << artist.new(@track.artist.name.mb_chars.capitalize, artist_path(@track.artist)) %>
