<% provide(:title, @track.name) %>

<% if @track.bitrates.any? %>
	<div class="a">
		<% @track.bitrates.each do |bitrate| %>
			<%= link_to "Скачать #{bitrate.file_bitrate} #{number_to_human_size(bitrate.file_size)}", download_track_path(@track, bitrate: bitrate.file_bitrate) %> <br />
		<% end %>
	</div>
<% end %>

<div class="a">
	Время <%= @track.length %> <hr />
	Скачиваний <%= @track.downloads %> <hr />
	Альбом <%= link_to @track.album.name, album_path(@track.album) %> <hr />
	Исполнитель <%= link_to @track.artist.name, artist_path(@track.artist) %>
</div>