<% provide(:title, @track.name) %>

<div class="a">
	<% if @track.new_path %>
	<%= link_to "Оригинал #{number_to_human_size(@track.new_path.size)}", download_music_path(@track.permalink, bitrate: "orig") %> <br />
	<% end %>

	<% if @track.bitrates.any? %>
			<% @track.bitrates.each do |bitrate| %>
				<%= link_to "Скачать #{bitrate.file_bitrate} #{number_to_human_size(bitrate.file_size)}", download_music_path(@track.permalink, bitrate: bitrate.file_bitrate), id: 'download-mp3' %> <br />
			<% end %>
	<% end %>
</div>

<div class="a">
	Время <%= @track.length %> <hr />
	Скачиваний <%= @track.downloads %>
</div>

<% if @recomendations.any? %>
	<div class="title">
		Рекомедации
	</div>
	<div class="a">
		<% @recomendations.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %> <br />
		<% end %>
	</div>
<% end %>

<% @footer_links = ["#{link_to @track.album.name.mb_chars.capitalize, album_path(@track.album)}", "#{link_to @track.artist.name, artist_path(@track.artist)}",] %>
