<ul class="list-films">
	<% @films.each do |film| %>
			<li>
				<span class="film-preview">
					<% if film.cover.url.nil?  %>
							<img src="http://waprik.org/uploads/films/<%= film.id %>/cover/preview.jpg" alt="cover">
					<% else %>
							<%= image_tag film.cover.mini.url %>
					<% end %>
				</span>
					<%= link_to film.title, film_path(film.permalink) %> 
					<%= film.year %> <br />
				<span class="small-text">
					<%= truncate(film.about, length: 70, omission: '...') %>
				</span>
			</li>
			<%= hr_for film, @films %>
	<% end %>
</ul>