<div class="title">
	Admin Menu
</div>

	<div class="b">
		Привет, <%= session[:username] %>
	</div>
	<div class="a">
		<%= link_to("Видео", admin_videos_path) %>	<hr />
		<%= link_to("Новости", controller: 'admin/news', action: 'index') %>	<hr />
		<%= link_to("Категории", controller: 'admin/categories', action: 'index') %> <hr />	
		<%= link_to("Админы", {:controller => 'admin_users', :action => 'list'}) %>
	</div>

