<div class="span8 offset2">
	<ul class="nav nav-pills">
		<li class="active"> <%= link_to "Музыка", admin_tracks_path %> </li>
		<li class="active"> <%= link_to "Видео", admin_videos_path %> </li>
		<li class="active"> <%= link_to "Фильмы", controller: 'admin/films', action: 'index' %> </li>
		<li class="active"> <%= link_to "Сериалы", controller: 'admin/serials', action: 'index' %> </li>
		<li class="active"> <%= link_to "Картинки", controller: 'admin/pictures', action: 'index' %> </li>
	</ul>

	<ul class="nav nav-pills">
		<li class="active"> <%= link_to "Новости", admin_news_index_path %> </li>
		<li class="active"> <%= link_to "Категории", admin_categories_path %> </li>
		<li class="active"> <%= link_to "Форматы", admin_video_formats_path %> </li>
		<li class="active"> <%= link_to "Ссылки", admin_links_path %> </li>
		<li class="active"> <%= link_to "Админы", admin_users_path %> </li>
	</ul>

	<%#link_to "получить vk код", to_vk_admin_authentications_path %>

	<%# form_tag from_vk_admin_authentications_path do %>
		<%# label_tag :code, "vk код" %> <br />
		<%# text_field_tag :code %>
		<%# submit_tag "получить токен" %>
	<%# end %>
</div>

