<div class="b">
	Привет, <%= session[:username] %>
</div>
<div class="a">
	<%= link_to("Видео", admin_videos_path) %>	<hr />
	<%= link_to("Новости", controller: 'admin/news', action: 'index') %>	<hr />
	<%= link_to("Фильмы", controller: 'admin/films', action: 'index') %>	<hr />
	<%= link_to("Сериалы", controller: 'admin/serials', action: 'index') %>	<hr />
	<%= link_to("Картинки", controller: 'admin/pictures', action: 'index') %>	<hr />
	<%= link_to("Категории", controller: 'admin/categories', action: 'index') %> <hr />
	<%= link_to "Ссылки", admin_links_path %> <hr />
	<%= link_to("Админы", {:controller => 'admin_users', :action => 'list'}) %>
</div>
<div class="footer">
	<%= link_to "выйти", logout_path %>
</div>

