<div class="row">
	<div class="col-md-8">
		Привет, <%= session[:username] %>
		<ul>
			<li><%= link_to("Музыка", admin_tracks_path) %></li>
			<li><%= link_to("Видео", admin_videos_path) %>	<hr />
			<li><%= link_to("Новости", controller: 'admin/news', action: 'index') %>	<hr />
			<li><%= link_to("Фильмы", controller: 'admin/films', action: 'index') %>	<hr />
			<li><%= link_to("Сериалы", controller: 'admin/serials', action: 'index') %>	<hr />
			<li><%= link_to("Картинки", controller: 'admin/pictures', action: 'index') %>	<hr />
			<li><%= link_to("Категории", controller: 'admin/categories', action: 'index') %> <hr />
			<li><%= link_to "Ссылки", admin_links_path %> <hr />
			<li><%= link_to("Админы", {:controller => 'admin_users', :action => 'list'}) %>
		</ul>
	</div>
</div>

