<% @title = @video.name %>

<% unless @video.name.nil?%>
	<div class="title">
		<%= @video.name %>
	</div>
<% end %>

<% unless @video.downloads == 0%>
	<div class="b">
		Скачиваний <%= @video.downloads %>
	</div>
<% end %>

<% unless @video.screen.url.nil?%>
	<div class="a">
		<%= image_tag(@video.screen.preview.url) %>
	</div>
<% end %>

<div class="a">
	<% unless @video.description.empty? %>
		<%= @video.description %>
		<hr /> 
	<% end %>
	<% unless @video.categories.empty?  %>
		 Жанр
		<% @video.categories.each do |category| %>
			<%= link_to(category.name, :action => 'category', :id => category.id) %>
		<% end %>
	<% end %>
</div>

<% unless @video.mp4_320.url.nil? && @video.mp4_640.url.nil? && @video.low_3gp.url.nil? %>
	<div class="title">
		Скачать
	</div>
<% end %>

<% unless @video.mp4_640.url.nil? %>
	<div class="b">
		<%= link_to("MP4 (хорошее качество)", {:action => 'download', :version => "mp4_640", :id => @video.id}) %>
		<span class="small_text">
		 		<%= number_to_human_size(@video.mp4_640.size) %> <br />
		 		Для смартфонов, планшетов
		</span>		
	</div>
<% end %>

<% unless @video.mp4_320.url.nil? %>
	<div class="b">
		<%= link_to("MP4 (хорошее качество)", {:action => 'download', :version => "mp4_320", :id => @video.id}) %>
		<span class="small_text">
		 		<%= number_to_human_size(@video.mp4_320.size) %> <br />
				 		Для телефонов, смартфонов
		</span>		
	</div>
<% end %>


<% unless @video.low_3gp.url.nil?%>
	<div class="b">
		<%= link_to("3GP (среднее качество)", {:action => 'download', :version => "3gp", :id => @video.id}) %>
		<span class="small_text">
		 		<%= number_to_human_size(@video.low_3gp.size) %> <br />
		 		Для телефонов
		</span>		
	</div>
<% end %>
<% unless @video.collections.empty?%>
	<div class="title">
		В подборках
	</div>
	<div class="a">
		<% @video.collections.each do |collection| %>
			<%= link_to(collection.name, :action =>'collection', :collection_id => collection.id) %>
		<% end %>
	</div>
<% end %>

<% @footer_links = ["#{link_to 'Все сериалы', serials_path} <br/>", "#{link_to "В категорию #{@video.category.last.name}", category_path(@video.category.last)} <br/>"] %>