<% @title = @video.name %>

<% unless @video.name.nil?%>
	<div class="title">
		<%= @video.name %>
	</div>
<% end %>

<% unless @video.downloads == 0%>
	<div class="b">
		Скачиваний <%= @video.downloads %>
	</div>
<% end %>

<% unless @video.screen.url.nil?%>
	<div class="a">
		<%= image_tag(@video.screen.preview.url) %>
	</div>
<% end %>

<div class="a">
	<% unless @video.description.empty? %>
		<%= @video.description %>
		<hr /> 
	<% end %>
	<% unless @video.categories.empty?  %>
		 Жанр
		<% @video.categories.each do |category| %>
			<%= link_to(category.name, :action => 'category', :id => category.id) %>
		<% end %>
	<% end %>
</div>

<% unless @video.collections.empty?%>
	<div class="title">
		В подборках
	</div>
	<div class="a">
		<% @video.collections.each do |collection| %>
			<%= link_to(collection.name, :action =>'collection', :collection_id => collection.id) %>
		<% end %>
	</div>
<% end %>

<% if @video.files.any? %>
		<% @video.files.each do |file| %>
			<div class="a">  <!-- files -->	
				<!-- TODO сделать скачивание файлов серии -->
				<%= link_to file.format.title, "" %>
				<%= number_to_human_size(file.size) %>
				<br />
				<span class="small-text">
					<%= file.format.description %>
				</span> 
			</div>
		<% end %> <!-- # @video.files.each -->
<% end %> <!-- # @video.files.any? -->

<% @footer_links = [
	"#{link_to "В категорию #{@categories.last.name}", {controller: 'public/videos', action: 'category', id: @categories.last.id}} <br/>",
	"#{link_to 'Все видео', videos_path} <br/>"
	] %>