<%= error_messages_for(@video) %>

<div class="b">
	<%= f.label(:name, "Название") %> <br />
	<%= f.text_field(:name) %> <hr />
	<%= f.label(:artist, "Исполнитель") %> <span class="small_text">(для клипов)</span><br />
	<%= f.text_field(:artist) %>
</div>

<div class="b">
	<%= f.label :screen, "Screen:" %><br />
	<% if @video.screen? %>
	  <%= image_tag(@video.screen.preview.url)  %> <span class="small_text"><%= link_to("x", :action => 'delete_screen', :id => @video.id) %></span><br />
	<% else %>
	  <%= f.file_field(:screen) %> <br />
	<% end %>
</div>


<div class="b">
	<%= f.label(:description, "Описание") %> <br />
	<%= f.text_area(:description, :size => "50x10") %>
</div>

<div class="b">
	<%= f.label(:collection, "Подборка") %> <br />
	<%= f.text_area(:collection, :size => "20x1") %> <br />

		<% @video.collections.collect do |collection| %>
			<%= link_to(collection.name, :action => 'collection', :id => collection.id) %>
			<span class="small_text"><%= link_to("x", :action => 'remove_video_from_collection', :id => @video.id, :collection_id => collection.id) %></span> <br />
		<% end %>
</div>



<div class="b">
	<%= f.label(:category_id, "Категория") %> <br />
	<%= f.select(:category_id, @categories) %>
</div> 

<div class="b">
	<%= f.label(:source_video, "Оригинал") %> <br />
	<%= f.file_field(:source_video) %>
</div>
<div class="b">
	<% if @video.low_3gp.url.nil? %>
		<%= f.label(:low_3gp, "MP4 320") %> <br />
		<%= f.file_field(:low_3gp) %> <br />
	<% else %>
	  <%= link_to("3GP (среднее качество)", {:action => 'download', :version => "low_3gp", :id => @video.id}) %> <%=link_to("x", {:action => 'delete_from_admin_panel', :version => "low_3gp", :id => @video.id})%>
	<% end %>
</div>

<div class="b">
	<% if @video.mp4_176.url.nil? %>
		<%= f.label(:mp4_176, "MP4 320") %> <br />
		<%= f.file_field(:mp4_176) %> <br />
	<% else %>
	  <%= link_to("MP4 (среднее качество)", {:action => 'download', :version => "mp4_176", :id => @video.id}) %> <%=link_to("x", {:action => 'delete_from_admin_panel', :version => "mp4_176", :id => @video.id})%>
	<% end %>
</div>

<div class="b">
	<% if @video.mp4_320.url.nil? %>
		<%= f.label(:mp4_320, "MP4 320") %> <br />
		<%= f.file_field(:mp4_320) %> <br />
	<% else %>
	  <%= link_to("MP4 (хорошее качество)", {:action => 'download', :version => "mp4_320", :id => @video.id}) %> <%=link_to("x", {:action => 'delete_from_admin_panel', :version => "mp4_320", :id => @video.id})%>
	<% end %>
</div>