<div class="b">
	<%= link_to("Добавить видео", {:action => 'new', :category_id => @category.id}) %> <br />
</div>

<div class="title">
	<%= @category.name %> <%= @videos.size %>
</div>

<% unless @videos.empty? %>
	<% @videos.each do |video| %>
		<div class="a">		
		<table>
			<tr>
				<td>
					<%= image_tag(video.screen.mini.url) %>
				</td>
				<td valign="top">
					<%= link_to(video.name.empty? ? "без названия" : video.name, {:action => 'edit', :id => video.id, :category_id => @category.id})%>
						<%= link_to("х", {:action => 'delete', :id => video.id, :category_id => @category.id}) %> <br />
					<span class="small_text">
						<% unless video.description.empty? %>
							<%= truncate(video.description, :length => 60) %> <br />
						<% end %>
						<% unless video.collections.empty? %>
						В подборках <% video.collections.collect do |collection| %>
													<%= link_to(collection.name, :action => 'collection', :id => collection.id, :category_id => @category.id) %>
										 		<% end %>
						<% end %>
					</span>
				</td>
			</tr>
		</table>
		</div>
	<% end %>
	<% else %>
		<div class="a">
			пусто :(
		</div>		
<% end %>

	<div class="b">
	<!-- 	<% unless @first_page == @current_page || @first_page.to_i == 0 %> 
			<%= link_to(@first_page.to_i, {:action => 'category', :page => @first_page}) %>, 
		<% end %> -->

		<% unless @previous_page == @current_page || @previous_page.to_i == 0 %> 
			<%= link_to(@previous_page.to_i, {:action => 'category', :page => @previous_page}) %>, 
		<% end %>

		<%= @current_page %>

		<% unless @next_page == @current_page || @last_page == 0 %>
	 		, <%= link_to(@next_page, :action => 'category', :page => @next_page ) %>
		<% end %>

		<% unless @last_page == @current_page || @last_page < @previous_page || @last_page < @current_page || @last_page < @next_page %>
			 ... <%= link_to(@last_page, :action => 'category', :page => @last_page ) %>
		<% end %>
	</div>

<div class="foot">
	<%= link_to("Все жанры", :controller => 'videos') %> <br />
	<%= link_to("Меню", :controller => 'access') %> <br />
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>
