<div class="a">
	<%= form_tag videos_path, method: :get do %>
		<%= text_field_tag :keywords %>
		<%= submit_tag "найти" %>
	<% end %>
</div>
<% if @videos.any? %>
	<div class="b">
		<% @videos.each do |video| %>
			<div>
				<%= image_tag video.image %>
				<%= link_to video.name, video_path(video.video_id) %>
				<span class="time">
					<%= video.time %>
				</span>
				<span class="dl">
					<%= video.format_3gp %>
					<%= video.format_mp4 %>
				</span>
			</div>
		<% end %>
	</div>
<% end %>
