<div class="b">
	<%= link_to('Добавить новость', :controller => 'news', :action => 'new', :section => "video") %> <br />
	<%= link_to('Создать жанр', :action => 'new_category') %>

</div>
<% unless @collections.empty? %>
		<% @collections.each do |collection| %>
			<% unless collection.videos_empty? %> <!-- проверяем есть ли видео в коллекции -->
			<div class="title">
				Классные подборки
			</div>
			<div class="b">
					<%= link_to(collection.name, :action => 'collection', :id => collection.id) %> 
					<br />
			</div>
			<% end %>
		<% end %>
<% end %>
<div class="title">
	Жанры
</div>
<% unless @categories.empty? %>
	<% @categories.each do |category| %>
	<div class="a">
		<%= link_to("#{category.name}", {:action => 'category', :id => category.id}) %>

		<span class="small_text">
			(<%= category.videos.size %>)
			<%= link_to("р", {:action => 'edit_category', :id => category.id}) %>
			<%= link_to("x", :action => 'destroy_category', :id => category.id) %>
		</span>
	</div>
	<% end %>

	<% else %>

	<div class="b">
		Пусто :(
	</div>

<% end %>


<div class="b">
	<%= link_to("Видео подборки", :action => 'collections') %> <br />
	<%= link_to("Видео новости", controller: 'news', action: 'list', section: 'video') %>
</div>