<div class="title">
	Создать видео подборку
</div>

<%= form_for(:collection, :url => {:action => 'create_collection'}) do |f| %>
	<div class="a">
	<%= render(:partial => 'shared/collection_form', :locals => {:f => f}) %>

	<%= submit_tag("Создать") %>
</div>
<% end %>

<div class="foot">
	<%= link_to("Все жанры", :controller => 'categories') %> <br />
	<%= link_to("Меню", :controller => 'access') %> <br />
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>
