<div class="a">
	<%= image_tag @video.cover.preview.url %>
</div>

<div class="title">
	Просмотров <%= @video.views %>
</div>
<div class="b">
	<%= link_to "Скачать 3gp", @video.format_3gp  %> <br />
	<%= link_to "Скачать mp4", @video.format_mp4  %>
</div>

<div class="a">
	Описание: <br />
	<%= @video.description %> <br />
</div>
