<% provide(:title, "Картинки") %>
<div class="title">
	Эротические фото
</div>

<div class="a">
	<% @pictures.each do |picture| %>
		<%= time_ago_in_words(picture.created_at) %> назад, скач: <%= picture.downloads %><br />
		<%= image_tag(picture.image.preview.url)%> <br />
		<%= link_to "скачать", {action: 'download', id: picture.id} %> <%= number_to_human_size(picture.image.size) %>

		<% unless picture == @pictures.last %>
		<hr>
		<% end %>
	<% end %>
	<% unless @pictures.size <= 7 %>
		<hr />
	<% end %>
	<%= will_paginate(@pictures, next_label: "", previous_label: "") %>
</div>