<% unless @last_news == nil %>
<div class="b">
	<%= @last_news.description %>
</div>

<% unless @related_news == [] %>
	<div class="title">
		В этот день так же обновлены
	</div>
	<div class="a">
		<% @related_news.each do |item| %>
			<%= link_to(translate_type(item.section), :action => 'show', :item_id => item.id) %>
		<% end %>
	</div>
<% end %>
<% else %>
	<div class="b">
		Пусто
	</div>
<% end %>
<div class="foot">
	<%= link_to("Все видео", :controller => 'videos') %> <br />
	<%= link_to("Меню", :controller => 'access') %> <br />
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>