<% provide(:title, "Сериалы для мобильного") %>

<% unless @hits.empty? %>
		<% @hits.each do |hit| %>
			<div class="a">
				<table>
					<tr>
						<td>
							<%= image_tag hit.cover.mini.url unless hit.cover.mini.url.nil?%>
						</td>
						<td valign="top">
							<%= link_to hit.name, serial_path(hit) %>
							<span class="small_text">
								<% unless hit.series.last.nil? %>
									<br />
									Добавлена <%= hit.series.last.number %> серия<br />
									Обновлен: <%=  time_ago_in_words(hit.series.last.created_at) %> назад<br />
								<% end %>
							</span>
						</td>
					</tr>
				</table>
			</div>
		<% end %>
<% end %>

<% unless @genres.empty? %>
	<div class="title">
		Жанры
	</div>
	<div class="a">
		<% @genres.each do |genre| %>
			<%= link_to genre.title, film_genre_path(genre, content: "serials") %> <span class="small_text"><%= genre.serials.uniq.count %></span> <br />
		<% end %>
	</div>
	
<% end %>