<% provide(:title, "Сериалы для мобильного") %>

<% unless @hits.empty? %>
	<div class="title">
		Популярное сейчас
	</div>
		<% @series.each do |series| %>
		
			<div class="a">
				<table>
					<tr>
						<td>
							<%= image_tag series.serial.cover.mini.url unless series.serial.cover.mini.url.nil?%>
						</td>
						<td valign="top">
							<%= link_to series.serial.name, serial_path(series.serial) %>
							<span class="small_text">
									<br />
									Добавлена <%= series.number %> серия<br />
									Обновлен: <%=  time_ago_in_words(series.created_at) %> назад<br />
							</span>
						</td>
					</tr>
				</table>
			</div>
		<% end %>
<% end %>

<% unless @categories.empty? %>
	<div class="title">
		Жанры
	</div>
	<div class="a">
		<% @categories.each do |category| %>
			<%= link_to category.name, {controller: "categories", action: "show", id: category.id, content_type: "serials"} %> <span class="small_text"><%= category.serials.uniq.count %></span> <br />
		<% end %>
	</div>
	
<% end %>