<% provide(:title, @serial.name) %>

<% if @serial.season.present? %>
	<div class="b">  <!-- season -->	
		<%= @serial.season %> сезон
	</div>
<% end %>


<div class="b"> <!-- info -->	
	Скачиваний <%= count_downloads_for @serial %> <br />
	Статус: <%= status_for @serial %>
</div>

<div class="a"> <!-- cover -->	
	<%= image_tag @serial.cover.preview.url unless @serial.cover.url.nil? %>
</div>

<div class="a"> <!-- description -->	
	<%= @serial.description %>

	<% if @serial.years.present? %>
		<hr />
		Года: <%= @serial.years %>
	<% end %>

	<% if @serial.genres.any? %>
		<hr />
		Жанры
		<% @serial.genres.uniq.each do |genre| %>
			<%= link_to genre.title, "" %>
		<% end %>	
	<% end %>
</div>

<% if @series.any? %> <!-- series -->	
	<% @series.each do |serie| %>
		<% if serie.season.files.any? %>
			<div class="title">
				<%= serie.season.number %> серия
			</div>
				<% serie.files.each do |file| %>
					<div class="a">  <!-- files -->	
						<!-- TODO сделать скачивание файлов серии -->
						<%= link_to file.format.title, "" %>
						<%= number_to_human_size(file.size) %>
						<br />
						<span class="small-text">
							<%= file.format.description %>
						</span> 
					</div>
				<% end %><!-- # serie.files.each -->
		<% end %> <!-- # @series.each -->
	<% end %> <!-- # serie.files.any? -->
<% else %>
	<div class="a">
		Нет доступных серий, попробуйте зайти позже
	</div>
<% end %> <!-- @series.any? -->

<% @footer_links = Array.new %>
<% @footer_links << "#{ link_to 'Все сериалы', serials_path }" %>
<% @footer_links << "#{ link_to @serial.genres.last.title }" if @serial.genres.last %>
