<% provide(:title, @serial.name) %>

<div class="title">
	<%= @serial.name %>
</div>

<div class="b">
	Скачиваний <%= count_downloads_for @serial %> <br />
	Статус: <%= status_for @serial %>
</div>

<div class="a">
	<%= image_tag @serial.cover.preview.url unless @serial.cover.url.nil? %>
</div>

<div class="a">
	<%= @serial.description %>
	<% unless @serial.categories.empty? %>
		<hr />
		Жанры
		<% @serial.categories.uniq.each do |category| %>
			<%= link_to category.name, category_path(category) %>
		<% end %>	
	<% end %>
</div>
<% @serial.series.each do |series| %>
	<% if has_any_files?(series) %>
		<div class="title">
			<%= series.number %> серия
		</div>
		<div class="a">
			<% unless series.low_3gp.url.nil? %>
				<%= link_to  "3GP (среднее качество)", series.low_3gp.url %> <%= number_to_human_size(series.low_3gp.size) %> <br />
				<span class="small_text">Для телефонов</span> <hr/>
			<% end %>

			<% unless series.mp4_320.url.nil? %>
				<%= link_to "MP4 320 (хорошее качество)", series.mp4_320.url %> <%= number_to_human_size(series.mp4_320.size) %> <br />
				<span class="small_text">Для телефонов, смартфонов</span> 
				<hr />
			<% end %>
				
			<% unless series.mp4_640.url.nil? %>
				<%= link_to "MP4 640 (отличное качество)", series.mp4_640.url %> <%= number_to_human_size(series.mp4_640.size) %>
				<span class="small_text">Для телефонов, смартфонов, планшетов</span> 
			<% end %>
		</div>
	<% end %>
<% end %>
</div>

<% @footer_links = ["#{link_to 'Все сериалы', serials_path} <br/>"] %>
