<% provide(:title, "#{@serial.title.mb_chars.capitalize} (#{@serial.season} сезон, #{status_for @serial})") %>

<div class="b">
	Скачиваний <%= count_downloads_for @serial %>
</div>

<div class="a"> <!-- cover -->	
	<%= image_tag @serial.cover.preview.url unless @serial.cover.url.nil? %>
</div>

<div class="a"> <!-- description -->	
	<%= @serial.description %>

	<% if @serial.years.present? %>
		<hr />
		Года: <%= @serial.years %>
	<% end %>

	<% if @serial.genres.any? %>
		<hr />
		Жанры
		<% @serial.genres.uniq.each do |genre| %>
			<%= link_to genre.title, "" %>
		<% end %>	
	<% end %>
</div>


<% if @series.any? %> <!-- series -->	
	<% @series.each do |serie| %>
		<% if serie.files.any? %>
			<div class="title">
				<%= serie.number %> серия
			</div>
				<% serie.files.each do |file| %>
					<div class="a">  <!-- files -->	
						<!-- TODO сделать скачивание файлов серии -->
						<%= link_to file.format.title, download_serial_path(file) %>
						<%= number_to_human_size(file.size) %>
						<br />
						<span class="small-text">
							<%= file.format.description %>
						</span> 
					</div>
			<% end %><!-- # serie.files.each -->
		<% end %> <!-- # @series.each -->
	<% end %> <!-- # serie.files.any? -->
<% else %>
	<div class="a">
		Нет доступных серий, попробуйте зайти позже
	</div>
<% end %> <!-- @series.any? -->

<% serial = Struct.new(:title, :url) %>
<% genre = Struct.new(:title, :url) %>
<% @footer_links = [] %>
<% @footer_links << serial.new(@serial.title, serial_path(@serial)) %>
<% @footer_links << genre.new(@serial.genres.last.title.mb_chars.capitalize, film_genre_path(@serial.genres.first, content: "serials")) %>

