<% @title = "New Admin User" %>

<div class="b">
	Ник: <%= @user.username ? @user.username : 'Пусто :('  %> <br />
	Имя: <%= @user.first_name ? @user.first_name : 'Пусто :(' %> <br />
	Фамилия: <%= @user.last_name ? @user.last_name : 'Пусто :(' %> <br />
	Email: <%= @user.email ? @user.email : 'Пусто :(' %>
</div>

<div class="foot">
	<%= link_to("Админы", :controller => 'admin_users') %> <br />
	<%= link_to("Меню", :controller => 'access') %> <br />
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>