<% provide(:title, "Фильмы для мобильного") %>

<div class="group add-film">
	<%= form_tag list_admin_films_path, method: :get do %>
		<%= label_tag :keyword, "кинопоиск" %>
		<%= text_field_tag :keyword %>

		<%= button_tag "ok" %>
	<% end %>
</div>


<div class="film-collections">
	<%= link_to 'Подборки', admin_films_collections_path %>
</div>

<section>
	<% if @films.any? %>
		<% @films.each do |film| %>
			<%= link_to film.ru_title, admin_film_path(film) %> <%= link_to "ред", edit_admin_film_path(film) %> <%= link_to "x", admin_film_path(film), method: :delete %><br />
		<% end %>
	<% end %>
</section>