<% provide(:title, "Фильмы для мобильного") %>

<div class="group add-film">
	<%= form_tag list_admin_films_path, method: :get do %>
		<%= label_tag :keyword, "кинопоиск" %>
		<%= text_field_tag :keyword %>

		<%= button_tag "ok" %>
	<% end %>
</div>


<div class="film-collections">
	<%= link_to 'Подборки', admin_collections_path(section: "with_films") %>
</div>


<div class="group films-by-quality">
	<ul>
		<li>
			Все
		</li>
		<li>
			<%= link_to @camrip.title, admin_film_quality_path(@camrip.id) %>
		</li>
	</ul>
</div>
<div class="a">
	<%= form_tag films_path, method: :get do %>
		<%= text_field_tag :film_name %>
		<%= submit_tag "найти", name: nil %>
	<% end %>
</div>

<% @films.each do |film| %>
	<%= div_for(film, class: "group film") do %>
			<span class="film-title">
				<%= link_to film.title, admin_film_path(film) %>
				<span class="film-edit-links">
					<%= link_to fa_icon("pencil"), edit_admin_film_path(film) %>
					<%= link_to fa_icon("times"), admin_film_path(film), method: :delete, remote: true, confirm: 'удалить фильм' %>
				</span>
			</span>
			<br />
			<%= link_to image_tag(film.cover.preview.url), admin_film_path(film) %>
			<br />
			<% if film.trailers.any? %>
				трейлер <br />
				<%= fa_icon "check" %>
			<% else %>
				трейлер <br />
				<%= fa_icon "times"  %>
			<% end %>
		<br />
		<% quality = [] %>
		<% film.files.each do |file| %>
			<% quality << file.quality.title if file.quality %>
		<% end %>
		<%= quality.uniq.join(', ') %>
		<span class="favourite">
			<% if film.is_favourite? %>
				<%= link_to fa_icon("star", text: 'из избранных', class: 'favourite-black'), remove_from_favourites_admin_film_path(film)  %>
			<% else %>
				<%= link_to fa_icon("star", text: 'в избранные'), add_to_favourites_admin_film_path(film) %>
			<% end %>
		</span>
		<div class="film-downloads">
			<%= fa_icon("download 2x") %> <%= film.downloads %>
		</div>
		<%= link_to "обновить файлы", edit_admin_film_file_path(film) %>
	<% end %>
<% end %>
<%= will_paginate @films, class: "pagination", previous_label: "", next_label: "" %>