<% provide(:title, "Фильмы для мобильного") %>

<div class="group add-film">
	<%= form_tag list_admin_films_path, method: :get do %>
		<%= label_tag :keyword, "кинопоиск" %>
		<%= text_field_tag :keyword %>

		<%= button_tag "ok" %>
	<% end %>
</div>

<% @films.each do |film| %>
	<%= div_for(film, class: "group film") do %>
			<span class="film-title">
				<%= link_to film.title, admin_film_path(film) %>
				<span class="film-edit-links">
					<%= link_to fa_icon("pencil"), edit_admin_film_path(film) %>
					<%= link_to fa_icon("times"), admin_film_path(film), method: :delete, remote: true, confirm: 'удалить фильм' %>
				</span>
			</span>
			<br />
			<%= link_to image_tag(film.cover.preview.url), admin_film_path(film) %>
			<br />
			<% if film.trailer %>
				трейлер <br />
				<%= fa_icon "check" %>
			<% else %>
				трейлер <br />
				<%= fa_icon "times"  %>
			<% end %>
		<br />
		<% quality = [] %>
		<% film.files.each do |file| %>
			<% quality << file.quality.title if file.quality %>
		<% end %>
		<%= quality.uniq.join(', ') %>
		<span class="favourite">
			<% if film.is_favourite? %>
				<%= link_to fa_icon("star", text: 'в избранные'), remove_from_favourites_admin_film_path(film) %>
			<% else %>
				<%= link_to fa_icon("star", text: 'из избранных', class: 'favourite-black'), add_to_favourites_admin_film_path(film) %>
			<% end %>	
		</span>
	<% end %>
<% end %>
<%= will_paginate @films, class: "pagination", previous_label: "", next_label: "" %>