<% provide(:title, "Фильмы") %>

<div class="group film-qualities">
	<% @qualities.each do |qual| %>
		<%= link_to qual.title, admin_quality_path(qual) %>
	<% end %>
	
	<%= link_to "-", empty_admin_quality_path(qual) %>
</div>

<% @films.each do |film| %>
	<% div_for film, class: 'group content-film' do %>
			<%= link_to film.title, admin_film_path(film) %>
			<%= link_to "р", edit_admin_film_path(film) %>
			<%= link_to "x", admin_film_path(film), method: :delete, remote: true, confirm: 'удалить' %> <br />
			<%= link_to image_tag(film.cover.preview.url), admin_film_path(film) %> <br />
	<% end %>
<% end %>