<% provide(:title, @film.title) %>

<div class="a">
	Скачиваний <%= @film.downloads %> <br />
	Мировая оценка <%= @film.cis_estimate %> <br />
	Оценка СНГ <%= @film.world_estimate %> <br />
</div>

<div class="a">
		<img src="http://waprik.org/uploads/films/<%= @film.id %>/cover/orig.jpg" alt="cover">
</div>

<div class="b">
	<%= @film.about %>
</div>

<div class="a">
	Год выпуска <%= @film.year %><br />
	Время
	<%= @film.duration_hours %> час
	<%= @film.duration_minutes %> мин
	<%= @film.duration_seconds %> сек
	<br />
	Жанр
	<% @film.genres.each do |genre| %>
		<%= link_to genre.title, film_genre_path(genre) %>
	<% end %>
	<br />
	Качество <%= @film.quality.title %> <br />
	Перевод <%= @film.translation.title %><br />
</div>

<div class="title">
	Скачать
</div>
<div class="b">
	<% @film.files.sort_by!(&:size).each do |file| %>
		<%= link_to file.format.title, send_file(file.real_name.url)%>
		<%= number_to_human_size(file.size) %> <br />
		<span class="small-text">
			<%= file.format.description %>
		</span>
		<% unless file == @film.files.last %>
			<hr />
		<% end %>
	<% end %>
</div>

<div class="title">
	Знаменитые актеры
</div>
<div class="b">
	Знаменитые актеры: 
	<% @film.actors.each do |actor| %>
		<%= link_to actor.name, film_actor_path(actor) %>
	<% end %>
	<hr />
	Режисеры 
	<% @film.directors.each do |director| %>
		<%= link_to director.name, film_director_path(director) %>
	<% end %>

</div>
