<% keywords("скачать " + @film.title + " на телефон") %>
<% description @film.ru_title + " скачать на телефон бесплатно без регистрации" %>
<h1 class="title"><%= title "скачать " + @film.ru_title + " на телефон" %></h1>

	<div class="a">
		Скачиваний <%= @film.download %> <br />
		<% if @film.cis_estimate.present? %>
			Мировая оценка <%= @film.cis_estimate %> <br />
		<% elsif @film.world_estimate.present? %>
			Оценка СНГ <%= @film.world_estimate %> <br />
		<% end %>
	</div>

	<div class="a">
		<% if @film.cover.url.nil?  %>
				<img src="http://waprik.org/uploads/films/<%= @film.id %>/cover/orig.jpg" alt="cover">
		<% else %>
				<%= image_tag @film.cover.preview.url %>
		<% end %>
	</div>

	<div class="b">
		<%= @film.about %>
	</div>

	<div class="a">
		Год выпуска <%= @film.year %>
		<br />
		<% if @film.duration_hours && @film.duration_minutes %>
			Время
			<%= @film.duration_hours %> час
			<%= @film.duration_minutes %> мин
			<br />
		<% end %>

		Качество <%= quality_for @film %> 
		<br />
		Плейлист <% @film.collections.each do |collection| %> 
						 	 <%= link_to collection.name, collection_path(collection) %>
						 <% end %>
		<br />
		Жанр
		<% @film.genres.each do |genre| %>
			<%= link_to genre.title, film_genre_path(genre) %>
		<% end %>
		<br />

	</div>

	<div class="title">
		Скачать
	</div>
	<div class="b">
		<% if @film.blocked? %>
			Скачивание фильма заблокировано правообладателем
			<hr />
		<% elsif @film.files.any? %>
			<% @film.files.sort_by!(&:size).each do |file| %>
				<%= link_to file.format.title, film_file_path(file) %>
				<%= number_to_human_size(file.size) %> <br />
				<span class="small-text">
					<%= file.format.description %>
				</span>
				<%= hr_for file, @film.files %>
			<% end %>
		<% elsif @film.files.empty? %>
			 Нет файлов для скачивания <br />
			 <!-- TODO сохранять в куки данные заказавшего -->
			 <%= link_to("Попросить добавить", new_wish_path(film_id: @film.id), method: :post) %>
		<% end %>	

		<% if @film.trailers.any? %>
			<br />
			<% @film.trailers.each_with_index do |trailer, index| %>
				<%= link_to "Скачать трейлер #{index + 1 unless index + 1 == 1}", film_treiler_path(trailer) %> <%= number_to_human_size(trailer.filesize) %> <br />
			<% end %>
		<% end %>
	</div>

	<% if @film.recomendation_list && (@film.recomendation_list.films.count > 1) %>
		<div class="title">
			Похожие фильмы
		</div>
		<div class="a">
			<% @film.recomendation_list.films.each do |film| %> 
				<% unless film == @film  %>
					<%= link_to film.title, film_path(film) %> <br />
				<% end %>
			<% end %>
		</div>
	<% end %>

		<% if @film.actors.any? %>
			<div class="title">
				Знаменитые актеры
			</div>
			<div class="b">
				Знаменитые актеры: 
				<% @film.actors.each do |actor| %>
					<%= link_to actor.name, film_actor_path(actor) %>
				<% end %>
				<hr />
		<% end %>

		<% if @film.directors.any? %>
			Режисеры 
			<% @film.directors.each do |director| %>
				<%= link_to director.name, film_director_path(director) %>
			<% end %>
		<% end %>
		</div>

	<% if @film.genres.last %>
		<% genre = Struct.new(:title, :url) %>
		<% @footer_links = [] %>
		<% @footer_links << genre.new(@film.genres.last.title.mb_chars.capitalize, film_genre_path(@film.genres.last)) %>
	<% end %>
