<% provide(:title, "#{@collection.name} от #{@last_tracks.last.created_at.strftime("%d.%m.%y")}") %>

<% if @collection.image.present? %>
	<div class="a">
		<%= image_tag @collection.image.preview.url %>
	</div>
<% end %>

<% if @collection.description.present? %>
	<div class="b">
		<%= @collection.description %>
	</div>
<% end %>

<% if @last_tracks.any? %>
	<div class="a">
		<% @last_tracks.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %>
			<%= hr_for track, @last_tracks %>
		<% end %>
	</div>
<% end %>

<% if @tracks.any? %>
	<div class="title">
		Предыдущие новинки
	</div>
	<div class="a">
		<% @tracks.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %>
			<br />
		<% end %>
	</div>

	<%= will_paginate @tracks, next_label: "", previous_label: "", class: 'b' %>
<% end %>