<% keywords @collection.name.mb_chars.capitalize + " скачать бесплатно" %>
<% description @collection.name.mb_chars.capitalize + " скачать бесплатно на телефон / планшет" %>
<h1 class="title"><%= title "#{@collection.name.mb_chars.capitalize}" %> от <%= show_date_for @date %></h1>


<!-- общее число скачиваний -->
<div class="a">
	<%= downloads_size_for @collection %>
	
	<% if @collection.author %>
		автор <%= @collection.author.username %>
	<% end %>
</div>

<% if @collection.image.present? %>
	<div class="a">
		<%= image_tag @collection.image.preview.url %>
	</div>
<% end %>

<% if @collection.description.present? %>
	<div class="b">
		<%= @collection.description %>
	</div>
<% end %>

<% if @latest_tracks && @latest_tracks.any? %>
	<div class="a">
		<% @latest_tracks.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %>
			<span class="small-text">
				<% bitrate = track.bitrates.first %>
				<strong>
					<%= link_to  number_to_human_size(bitrate.file_size), download_music_path(track.permalink, bitrate: bitrate.file_bitrate, id: 'download-mp3') %>
				</strong>
			</span>
			<%= hr_for track, @latest_tracks %>
		<% end %>
	</div>
<% elsif @last_films && @last_films.any? %>
	<div class="a">
		<% @last_films.each do |film| %>
			<%= link_to film.title, film_path(film.permalink) %>
				<div class="hit-field">
					<%= form_for track, url: admin_music_path(track), method: :put do |f| %>
						<%= f.check_box :hit %>
						<%= f.label :hit %>
						<%= f.submit "ok"%>
					<% end %>
				</div>
			<%= hr_for film, @last_films %>
		<% end %>
	</div>
<% end %>

<% if @tracks && @tracks.any? %>
	<div class="title">
		Предыдущие новинки
	</div>
	<div class="a">
		<% @tracks.each do |track| %>
			<%= link_to track.name, music_path(track.permalink) %>
			<br />
		<% end %>
	</div>

	<%= will_paginate @tracks, next_label: "", previous_label: "", class: 'b' %>
<% elsif @films && @films.any? %>
	<div class="title">
		Предыдущие новинки
	</div>
	<div class="a">
		<% @films.each do |film| %>
			<%= link_to film.name, film_path(film.permalink) %>
			<br />
		<% end %>
	</div>

	<%= will_paginate @films, next_label: "", previous_label: "", class: 'b' %>
<% end %>