<% provide(:title, "Редактировать подборку") %>

<div class="row">
	<div class="span8 offset2">
		<% if @collection && @collection.films.any? %>
			<% @collection.films.each do |film| %>
				<strong>Фильмы в плейлисте:</strong> <br />
				<%= film.ru_title %>
			<% end %>
		<% end %>

		<!-- ИНФО -->
		<%= form_for :collection, url: admin_collection_path(@collection), method: :put, html: { multipart: true } do |f| %>
			<div class="form-group">
				<%= f.label :name, "Название"  %>
				<%= f.text_field :name  %>
			</div>

			<div class="form-group">	
				<%= f.check_box :hit  %>
				<%= f.label :hit, "хит ?"  %>
			</div>

			<div class="form-group">
				<%= f.label :image, "Кавер"  %>
				<%= f.file_field :image  %>
			</div>

			<div class="form-group">
				<%= f.label :description, "Описание"  %>
				<%= f.text_field :description  %>
			</div>

			<div class="form-group">
				<%= fields_for :tracks do |builder| %>
					<%= builder.label :new_path, "Файл для загрузки"  %>
					<%= builder.text_area :new_path  %>
				<% end %>
			</div>

			<% if @films && @films.any? %>

				<% @films.each do |film| %>
					<%= film.ru_title %> <%= link_to "добавить в коллекцию", add_content_admin_collection_path(@collection, film_id: film.id) %> <br />
				<% end %>

			<% end %>

			<%= f.submit "продолжить", class: 'btn btn-success'  %>
		<% end %>

			
		<%= form_tag "", method: :get do %>
			<%= label_tag :film_name %> <br />
			<%= text_field_tag :film_name %> <br />

			<%= submit_tag "найти" %>
		<% end %>
	</div>
</div>
