<% provide(:title, "Редактировать подборку") %>

<div class="row">
	<div class="span8 offset2">
		

		<!-- ИНФО -->
		<%= form_for :collection, url: admin_collection_path(@collection), method: :put, html: { multipart: true } do |f| %>
			<div class="form-group">
				<%= f.label :name, "Название"  %>
				<%= f.text_field :name  %>
			</div>

			<div class="form-group">	
				<%= f.check_box :hit  %>
				<%= f.label :hit, "хит ?"  %>
			</div>

			<div class="form-group">
				<%= f.label :image, "Кавер"  %>
				<%= f.file_field :image  %>
			</div>

			<div class="form-group">
				<%= f.label :description, "Описание"  %>
				<%= f.text_area :description  %>
			</div>

			<div class="form-group">
				<%= f.label :description, "Описание"  %>
				<%= f.text_area :description  %>
			</div>

			<div class="form-group">
				<%= f.fields_for :tracks do |builder| %>
					<%= builder.label :new_path, "Файл для загрузки"  %>
					<%= builder.text_area :new_path  %>
				<% end %>
			</div>

			<%= f.submit "продолжить", class: 'btn btn-success'  %>
		<% end %>
	</div>
</div>
