<% provide(:title, "#{@collection.name.mb_chars.capitalize} от #{show_date_for @date}") %>

<div class="span2 offset5">
	<p>
		<%= link_to	"обновить", refresh_admin_collection_path(@collection), class: "refresh-button btn btn-primary" %>
	</p>
</div>
<!-- музыка -->
Треков <%= @tracks.count %> <br />
 <table class="table table-bordered table-striped">
	<th>название</th>
	<th>скачиваний</th>
	<th>хит?</th>
	<% if @tracks.any? %>
			<% @tracks.each do |track| %>
				<tr class="">
					<td>
					<%= link_to track.name, music_path(track.permalink) %>
					</td>
					<td>
						 <%= track.downloads %>
					</td>
					<td>
						<%= form_for track, url: admin_music_path(track), method: :put do |f| %>
							<%= f.check_box :hit %>
						<% end %>
					</td>
					<td>
						<%= link_to "x", remove_from_admin_collection_path(@collection, track_id: track.id), method: :post %>
					</td>
				</tr>
			<% end %>
	<% end %>
</table>

<!-- фильмы -->
Фильмов <%= @films.count %> <br />
<table class="table table-bordered table-striped">
	<th>название</th>
	<th>скачиваний</th>
	<th>хит?</th>
	<% if @films.any? %>
			<% @films.each do |film| %>
				<tr class="">
					<td>
					<%= link_to film.title, edit_admin_film_path(film) %>
					</td>
					<td>
						 <%= film.downloads %>
					</td>
					<td>
						<%= form_for film, url: admin_film_path(film), method: :put do |f| %>
							<%= f.check_box :is_favourite %>

							<%= f.submit "ok" %>
						<% end %>
					</td>
					<td>
						<%= link_to "x", remove_from_admin_collection_path(@collection, film_id: film.id), method: :post %>
					</td>
				</tr>
			<% end %>
	<% end %>
</table>

<!-- ИНФО -->
<div class="span8 offset2">
	<!-- кавер -->
	<% if @collection.image.present? %>
		<div>
			<%= image_tag @collection.image.preview.url %>
		</div>
	<% end %>

	<!-- описание -->
	<% if @collection.description.present? %>
		<p>
			<%= @collection.description %>
		</p>
	<% end %>
</div>

<div class="span2 offset5">
	<p>
		<%= link_to	"редактировать", edit_admin_collection_path(@collection.permalink), class: "refresh-button btn btn-primary" %>
	</p>
</div>