<% @title = "List Admin Users" %>

<div class="b">
	<%= link_to('Создать админа', {:action => 'new'}) %>
</div>

<% @users.each do |user| %>
	<div class="b">
		<%= link_to(user.full_name(user.username), {:action => 'show', :id => user.id}) %>
		<span class="small_text">
		<%= link_to("р", {:action => 'edit', :id => user.id}) %>
		<%= link_to("х", {:action => 'delete', :id => user.id}) %>
		</span>
	</div>
<% end %>

<div class="foot">
	<%= link_to("Админы", :controller => 'admin_users') %> <br />
	<%= link_to("Меню", :controller => 'access') %> <br />
	<%= link_to("Выход", :controller => 'access', :action => 'logout') %>
</div>