<div class="a">
	<%= link_to "Добавить категорию", new_admin_category_path %>
</div>

<% unless @video_categories.empty? %>
	<div class="title">
		Видео категории
	</div>
	<div class="a">
		<% @video_categories.each do |category| %>
			<%= link_to category.name, admin_category_path(category) %>
			<%= link_to "ред", edit_admin_category_path(category) %>
			<%= link_to "x", admin_category_path(category), method: :delete %><br/>
		<% end %>
	</div>
<% end %>

<% unless @serials_categories.empty? %>
	<div class="title">
		Категории сериалов
	</div>
	<div class="a">
		<% @serials_categories.each do |category| %>
			<%= link_to category.name, admin_category_path(category) %>
			<%= link_to "ред", edit_admin_category_path(category) %>
			<%= link_to "x", admin_category_path(category), method: :delete %><br/>
		<% end %>
	</div>
<% end %>

<% unless @news_categories.empty? %>
	<div class="title">
		Категории новостей
	</div>
	<div class="a">
		<% @news_categories.each do |category| %>
			<%= link_to category.name, admin_category_path(category) %>
			<%= link_to "ред", edit_admin_category_path(category) %>
			<%= link_to "x", admin_category_path(category), method: :delete %> <br/>
		<% end %>
	</div>
<% end %>