<% provide(:title, "Зарубежные") %>

<div class="a">
	<% @eng_letters.each do |letter| %>
		<% if letter.artists.any? %>
			<b><%= link_to letter.id.mb_chars.capitalize, artists_path(letter: letter.id)  %></b>
		<% else %>
			<%= letter.id.mb_chars.capitalize %>
		<% end %>
		<% index = @eng_letters.index(letter) %>
		<% if index % 6 == 0 && index != 0 %>
			<br />
		<% end %>
	<% end %>
</div>

<!-- <div class="a">
	<b>
		<%= link_to "A", "" %>
		<%= link_to "B", "" %>
		<%= link_to "C", "" %>
		<%= link_to "D", "" %>
		<%= link_to "E", "" %>
		<%= link_to "F", "" %> <br />
		<%= link_to "G", "" %>
		<%= link_to "H", "" %>
		<%= link_to "I", "" %>
		<%= link_to "J", "" %>
		<%= link_to "K", "" %>
		<%= link_to "L", "" %> <br />
		<%= link_to "M", "" %>
		<%= link_to "N", "" %>
		<%= link_to "O", "" %>
		<%= link_to "P", "" %> 
		<%= link_to "Q", "" %>
		<%= link_to "R", "" %> <br />
		<%= link_to "S", "" %>
		<%= link_to "T", "" %>
		<%= link_to "U", "" %>
		<%= link_to "V", "" %>
		<%= link_to "W", "" %>
		<%= link_to "X", "" %> <br />
		<%= link_to "Y", "" %>
		<%= link_to "Z", "" %>
	</b>
</div> -->
