<div class="group add-film">
	<%= form_tag search_admin_tracks_path, method: :get do %>
		<%= label_tag :keyword, "найти" %>
		<%= text_field_tag :keyword %>

		<%= button_tag "ok" %>
	<% end %>
</div>

<div class="music-collections">
	<%= link_to 'Подборки', admin_collections_path(section: "with_music") %>
</div>


<div class="add-track">
	<%= link_to('Добавить mp3', new_admin_track_path) %>
</div>

<% if @tracks.any? %>
		<% @tracks.each do |track| %>
			<%= div_for track, class: 'music-track' do %>
				<%= link_to track.name, edit_admin_track_path(track) %> <br />
				<%= link_to "т", edit_tags_admin_track_path(track) %>
				<%= link_to "x", admin_track_path(track), method: :delete, remote: true, confirm: 'точно ?' %>
				<span class="small-text">
					<%= track.downloads %>
				</span>
				<br />
				<span class="small-text">
					<% if track.path.path && FileTest.exist?(track.path.path) %>
						<% TagLib::MPEG::File.open(track.path.path) do |file| %>
							<% tag = file.id3v2_tag %>
							название <%= tag.title %> <br />
							исполнитель <%= tag.artist %> <br />
							альбом <%= tag.album %>
						<% end %>
					<% elsif track.new_path.path && FileTest.exist?(track.new_path.path) %>
							<% TagLib::MPEG::File.open(track.new_path.path) do |file| %>
							<% tag = file.id3v2_tag %>
							название <%= tag.title %> <br />
							исполнитель <%= tag.artist %> <br />
							альбом <%= tag.album %>
						<% end %>				
					<% end %>
				</span>
				<% if track.collections.any? %>
					<br />
					Подборки
					<% track.collections.each do |collection| %>
						<%= link_to collection.name, collection_path(collection) %>
					<% end %>
				<% end %>

				<div class="hit-field">
					<%= form_for track, url: admin_music_path(track), method: :put do |f| %>
						<%= f.check_box :hit %>
						<%= f.label :hit %>
						<%= f.submit "ok"%>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<%= will_paginate @tracks, next_label: "", previous_label: "", class: "b" %>
<% end %>

<% if @collections.any? %>
		<% @collections.each do |collection| %>
			<% unless collection.with_videos? %> <!-- проверяем есть ли видео в коллекции -->
			<div class="title">
				Подборки
			</div>
			<div class="b">
					<%= link_to(collection.name, :action => 'collection', :id => collection.id) %> 
					<br />
			</div>
			<% end %>
		<% end %>
<% end %>