<div class="b">
	<%= link_to('Добавить mp3', new_admin_track_path) %> <br />
	<%= link_to('Добавить новость', :controller => 'news', :action => 'new', :section => "music") %> <br />
</div>

<% if @tracks.any? %>
	<div class="a">
		<% @tracks.each do |track| %>
			<%= link_to track.name, { controller: 'public/music', action: 'show', id: track.id } %> <%= link_to "x", admin_track_path(track), method: :delete %><br />
		<% end %>
	</div>
	<%= will_paginate @tracks, next_label: "", previous_label: "", class: "b" %>
<% end %>

<% if @collections.any? %>
		<% @collections.each do |collection| %>
			<% unless collection.videos_empty? %> <!-- проверяем есть ли видео в коллекции -->
			<div class="title">
				Подборки
			</div>
			<div class="b">
					<%= link_to(collection.name, :action => 'collection', :id => collection.id) %> 
					<br />
			</div>
			<% end %>
		<% end %>
<% end %>