<div class="a">
	<%= f.label(:name, "Название") %> <br>
	<%= f.text_field(:name) %> <br>

	<%= f.label(:season, "Сезон") %> <br>
	<%= f.text_field(:season) %> <br>

	<%= f.label(:years, "Года") %> <br>
	<%= f.text_field(:years) %> <br>

	<%= f.label(:updating, "Обновляется ?") %>
	<%= f.check_box(:updating) %> <br>

	<%= f.label(:hit, "Хит?") %>
	<%= f.check_box(:hit) %> <br>

	<%= f.label(:description, "Описание") %> <br>
	<%= f.text_area(:description, rows: 5) %> <br>

	<%= f.label(:cover, "Обложка") %> <br>
	<%= f.file_field(:cover) %> <br>
	<% if @serial.genres.any? %>
		<% @serial.genres.each do |genre| %>
			<%= genre.title %>
			<br />
		<% end %>
	<% end %>
	<%= f.label :new_genres, "Жанры" %> <br>
	<%= f.text_area :new_genres %> <br>
</div>