	<div class="b">
			<%= f.label :number, "номер серии" %> <br>
			<%= f.text_field :number %> <br>

			<%= f.label :name, "название серии" %> <br>
			<%= f.text_field :name %> <br>

			<%= f.label :release_date, "официальная дата выхода" %> <br>
			<%= f.text_field :release_date %> <br>

			<% if series.low_3gp.url.nil?%>
				<%= f.label :ftp_low_3gp, "3GP" %> <br>
				<%= f.select :ftp_low_3gp, @files.map {|f| File.absolute_path(f)}, { include_blank: true }   %> <br>
			<% else %>
				<%= link_to "3GP", series.low_3gp.url %> <%= number_to_human_size(series.low_3gp.size) %> <%= link_to "x",  action: 'delete_file', id: series.id, version: 'low_3gp' %><br />
			<% end %>

			<% if series.mp4_320.url.nil?%>
				<%= f.label :ftp_mp4_320, "MP4 320" %> <br>
				<%= f.select :ftp_mp4_320, @files.map {|f| File.absolute_path(f)}, { include_blank: true }%> <br>
			<% else %>
				<%= link_to "MP4 320", series.mp4_320.url %> <%= number_to_human_size(series.mp4_320.size) %> <%= link_to "x",  action: 'delete_file', id: series.id, version: 'mp4_320' %><br />
			<% end %>

			<% if series.mp4_640.url.nil?%>
				<%= f.label :ftp_mp4_640, "MP4 640" %> <br>
				<%= f.select :ftp_mp4_640, @files.map {|f| File.absolute_path(f)}, { include_blank: true }   %> <br>
			<% else %>
				<%= link_to "MP4 640", series.mp4_640.url %> <%= number_to_human_size(series.mp4_640.size) %> <%= link_to "x",  action: 'delete_file', id: series.id, version: 'mp4_640' %><br />
			<% end %>
	</div>
