<div class="b">

		<%= f.fields_for :season do |builder| %>
			<%= builder.label :number, "Сезон" %> <br>
			<%= builder.text_field :number %> <br>
		<% end %>

		<%= f.label :name, "название серии" %> <br>
		<%= f.text_field :name %> <br>

		<%= f.label :release_date, "официальная дата выхода" %> <br>
		<%= f.text_field :release_date %> <br>

		<% if series.files.any? && series.files.first.attach.present? %>
			TODO можно удалять файлы
		<% else %>
			<%= f.fields_for :files do |builder| %>
				<%= builder.select :quality, @qualities.map {|n| [n.title, n.id]} %> <br>
				<%= builder.select :attach, @files.map {|n| File.absolute_path(n)}, { include_blank: true } %> <br>
			<% end %>
		<% end %>

</div>
