<% @title = @category.name %>


<div class="title">
	<%= @category.name %>
</div>

<% unless @videos.empty? %>
	<% @videos.each do |video| %>
		<div class="a">		
		<table>
			<tr>
				<td>
					<%= image_tag(video.screen.mini.url) %>
				</td>
				<td valign="top">
					<%= link_to("#{if video.name.empty?; "без названия"; else video.name; end;}", {:action => 'show', :id => video.id, :category_id => @category.id})%> <br />
					<span class="small_text">
					<% unless video.description.empty? %>
						<%= truncate(video.description, :length => 60) %> <br />
					<% end %>
					
					<% unless video.collections.empty? %>

					Подборки: <% video.collections.each do |collection|%>
											<%= link_to(collection.name, {:action => 'collection', :collection_id => collection.id, :category_id => @category.id}) %>
										<% end %>
					</span>
					<% end %>
				</td>
			</tr>
		</table>
		</div>
	<% end %>
	<% else %>
		<div class="a">
			Пусто
		</div>	
<% end %>

<% unless @current_page.to_i == 1 && @next_page.to_i.nil? && @previous_page.to_i == 0 %>
	<div class="b">
	<!-- 	<% unless @first_page == @current_page || @first_page.to_i == 0 %> 
			<%= link_to(@first_page.to_i, {:action => 'category', :page => @first_page}) %>, 
		<% end %> -->

		<% unless @previous_page == @current_page || @previous_page.to_i == 0 %> 
			<%= link_to(@previous_page.to_i, {:action => 'category', :page => @previous_page}) %>, 
		<% end %>

		<%= @current_page %>

		<% unless @next_page == @current_page || @last_page == 0 %>
	 		, <%= link_to(@next_page, :action => 'category', :page => @next_page ) %>
		<% end %>

		<% unless @last_page == @current_page || @last_page < @previous_page || @last_page < @current_page || @last_page < @next_page %>
			 ... <%= link_to(@last_page, :action => 'category', :page => @last_page ) %>
		<% end %>
	</div>
<% end %>
<div class="foot">
	<%= link_to("Видео", action: 'videos') %> <br />
	<%= link_to("На главную", 'http://waprik.ru') %> <br />
</div>