<% provide(:title, "Связь с администрацией") %>

<div class="a">
	<%= form_for(:feedback, url: {action: 'create'}) do |t| %>

		<%= t.label(:sender, "Как вас зовут ?") %>  <br />
		<%= t.text_field(:sender) %> <br />

		<%= t.label(:category, "Благодарность") %>
		<%= t.radio_button(:category, "thank") %> <br />

		<%= t.label(:category, "Пожелание") %>
		<%= t.radio_button(:category, "wish") %> <br />

		<%= t.label(:category, "Жалоба") %>
		<%= t.radio_button(:category, "warn", checked: true) %><br />

		<%= t.label(:description, "Ваш отзыв или предложение") %> <br />
		<%= t.text_area(:description) %> <br />

		<%= t.submit("Отправить") %>
	<% end %>
</div>

