<!--?xml version="1.0" encoding="utf-8"?-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
  <title>
  	<%= yield(:title) %> скачать бесплатно на мобильный
  </title>
  <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=UTF-8">
  <%= stylesheet_link_tag "public/mobile", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render partial: 'shared/flash_messages' %>
	
	<div class="ads">
		<div class="octobird-block" data-tp="all" data-nb="1"></div>
	</div>

	<% if yield(:title).present? %>
		<div class="title">
			<%= yield(:title) %>
		</div>	
	<% end %>

	<%= yield %>

	<div class="foot">
		<% unless @footer_links.nil? %>
			<% @footer_links.each do |link| %>
				<%= link_to link.title, link.url %> <br />
			<% end %>
		<% end %>
		<a href="http://waprik.ru">На главную</a>
	</div>
	<div>
		<script type="text/javascript">
			teasernet_blockid = 571610;
			teasernet_padid = 236090;
		</script>
		<script type="text/javascript" src="http://adeclc.com/20b08a9/99a0/f517e.js"></script>
	</div>
	<% unless params[:controller] == "public/feedbacks" %>
		<div class="feedbacks">
			<%= link_to "написать отзыв / предложение", feedbacks_path %>
		</div>	
	<% end %>

	<div class="banners">
		<a href="http://waplog.net/ru/c.shtml?25772"><img src="http://c.waplog.net/334067.cnt" alt="waplog"></a>
	</div>


	<!-- octobird -->
	<script type="text/javascript">
	    var _ob = {
	        sid: 987
	    };
	    (function() {
	        var ob = document.createElement('script');
	        ob.type = 'text/javascript';
	        ob.async = true;
	        ob.src = 'http://show.octobird.com/ob.js';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(ob, s);
	    })();
	</script>
</body>
</html>

<% if Rails.env.development? %>
	development

<% end %>