<!--?xml version="1.0" encoding="utf-8"?-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
  <%= display_meta_tags :site => 'waprik.org' %>
  <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=UTF-8">
  <%= stylesheet_link_tag "public/mobile", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render partial: 'shared/flash_messages' %>
	<%= render partial: 'shared/ads' %>

	<% if yield(:title).present? %>
		<header class="title" role="banner">
			<h1 class="title"><%= yield(:title) %></h1>
		</header>	
	<% end %>

	<main role="main">
		<%= yield %>
	</main>

	<footer class="foot" role="contentinfo">
		<% unless @footer_links.nil? %>
			<% @footer_links.each do |link| %>
				<%= link_to link.title, link.url %> <br />
			<% end %>
		<% end %>
		<a href="http://waprik.ru">На главную</a>
	</footer>

	<!-- MarketGidComposite Start -->
	<div id="MarketGidScriptRootC589688">
	    <div id="MarketGidPreloadC589688">
	        <a id="mg_add589688" href="http://usr.marketgid.com/demo/celevie-posetiteli/" target="_blank"><img src="//cdn.marketgid.com/images/marketgid_add_link.png" style="border:0px"></a><br>        <a href="http://marketgid.com/" target="_blank">Загрузка...</a>    
	    </div>
	    <script>
	                        (function(){
	            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
	            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootC589688")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
	            catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootC589688");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=589688;c[ac](dv);
	            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.marketgid.com/w/a/waprik.ru.589688.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
	    </script>
	</div>
	<!-- MarketGidComposite End -->

	<% unless params[:controller] == "public/feedbacks" %>
		<div class="feedbacks">
			<%= link_to "написать отзыв / предложение", feedbacks_path %>
		</div>	
	<% end %>

	<div class="banners">
		<a href="http://waplog.net/ru/c.shtml?25772"><img src="http://c.waplog.net/334067.cnt" alt="waplog"></a>
	</div>

	<!-- octobird -->
	<script type="text/javascript">
	    var _ob = {
	        sid: 987
	    };
	    (function() {
	        var ob = document.createElement('script');
	        ob.type = 'text/javascript';
	        ob.async = true;
	        ob.src = 'http://show.octobird.com/ob.js';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(ob, s);
	    })();
	</script>

	<!-- google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64174983-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<!-- mobtop -->
	<script type="text/javascript" src="http://mobtop.ru/c/104752.js"></script><noscript><a href="http://mobtop.ru/in/104752"><img src="http://mobtop.ru/104752.gif" alt="MobTop.Ru - Рейтинг и статистика мобильных сайтов"/></a></noscript>


</body>

</html>

<% if Rails.env.development? %>
	development

<% end %>