<!--?xml version="1.0" encoding="utf-8"?-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
  <%= display_meta_tags :site => 'waprik.org' %>
  <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=UTF-8">
  <%= stylesheet_link_tag "public/mobile", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render partial: 'shared/flash_messages' %>
	
	<div class="octobird-block"></div>

	<% if yield(:title).present? %>
		<header class="title" role="banner">
			<h1 class="title"><%= yield(:title) %></h1>
		</header>	
	<% end %>

	<main role="main">
		<%= yield %>
	</main>

	<footer class="foot" role="contentinfo">
		<% unless @footer_links.nil? %>
			<% @footer_links.each do |link| %>
				<%= link_to link.title, link.url %> <br />
			<% end %>
		<% end %>
		<a href="http://waprik.ru">На главную</a>
	</footer>

	<div class="ads">
		<script type="text/javascript">
		teasernet_blockid = 571610;
		teasernet_padid = 236090;
		</script>
		<script type="text/javascript" src="http://transfto.com/37j3/ca/14/cf/43/4.js"></script>
	</div>
	<% unless params[:controller] == "public/feedbacks" %>
		<div class="feedbacks">
			<%= link_to "написать отзыв / предложение", feedbacks_path %>
		</div>	
	<% end %>

	<div class="banners">
		<a href="http://waplog.net/ru/c.shtml?25772"><img src="http://c.waplog.net/334067.cnt" alt="waplog"></a>
	</div>


	<!-- octobird -->
	<script type="text/javascript">
	    var _ob = {
	        sid: 987
	    };
	    (function() {
	        var ob = document.createElement('script');
	        ob.type = 'text/javascript';
	        ob.async = true;
	        ob.src = 'http://show.octobird.com/ob.js';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(ob, s);
	    })();
	</script>
	<!-- google -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64174983-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

<% if Rails.env.development? %>
	development

<% end %>